p {
  display: inline;
  float: left;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 2rem;
  background-color:  #ebebff;
}